<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "assets/stylesheets/follower_mailer.scss" %>
  </head>
<body>
  <h2>The Farmer's Market</h2>
  <p>A farmer you're following recently uploaded a crop.  It's probably delicious and definitely fresh.</p>
  <p>
  <a href="http://development.farmersmarket.divshot.io/#/">Go to your account</a><br><br>
  <div>
    <img src="http://www.edenbrothers.com/store/media/_GroupPages/Corn.jpg" alt="" />
  </div>
  </p>
</body>
</html>
